In [48]:
%display plain

In [49]:
G = SymmetricGroup(3)

In [50]:
def commutator(g1, g2):
    return g1*g2*g1.inverse()*g2.inverse()

In [56]:
multTable = [['*']]
for g in G: 
    multTable[0].append(g)

for i, g1 in enumerate(G):
    multTable.append([g1])
    for j, g2 in enumerate(G):
        multTable[-1].append(commutator(g1, g2))

table(multTable, header_column=True, header_row=True)

  *       | ()   (1,2)     (1,2,3)   (1,3,2)   (2,3)     (1,3)
+---------+----+---------+---------+---------+---------+---------+
  ()      | ()   ()        ()        ()        ()        ()
  (1,2)   | ()   ()        (1,2,3)   (1,3,2)   (1,2,3)   (1,3,2)
  (1,2,3) | ()   (1,3,2)   ()        ()        (1,3,2)   (1,3,2)
  (1,3,2) | ()   (1,2,3)   ()        ()        (1,2,3)   (1,2,3)
  (2,3)   | ()   (1,3,2)   (1,2,3)   (1,3,2)   ()        (1,2,3)
  (1,3)   | ()   (1,2,3)   (1,2,3)   (1,3,2)   (1,3,2)   ()